.container {
    svg {
        width: 200px;
        height: 200px;
    }
}

.volContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .volume {
        width: 100px;
        height: 160px;
        background-color: #e1e1e6;
        border-radius: 50px;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        bottom: 52px;

        .inner {
            width: 100px;
            height: 0px;
            background-color: lime;
        }
    }
}

.tipContainer {
    width: 300px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    color: #a7a7a8;

    & > div {
        overflow-wrap: break-word;
    }

    .title {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        line-height: 18px;
    }

    .secTitle {
        font-size: 14px;
        font-weight: 500;
    }

    .txt {
        margin-top: 8px;
        line-height: 18px;
        font-weight: 400;
        text-align: left;
    }
}
