.tabTitle {
  display: flex;
  border: 1px solid greenyellow;

  .tabTitleItem {
    border: 1px solid red;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active {
    background-color: aqua;
  }
}

.content {
  display: flex;
  gap: 20px;

  :global {
    .ant-select {
      width: 200px;
    }
  }
}

.list {
  border: 1px solid red;
  width: 265px;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: #56f;

  .item {
    width: 223px;
    height: 33px;
    background: rgba(255,255,255,0.05);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  .children {
    // height: 50px;
    background-color: aquamarine;
    .xxxx {
      width: 60px;
    }

    :global {
      .ant-radio-wrapper {
        width: 100px;
      }
    }
  }
}
