.varify-code-container {
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.code_input {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: border 0.15s ease-in-out;
  margin: 0 4px;
  background-color: transparent;
  border: unset;
  border-bottom: 2px solid #e2e2e2;
}
