.container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.inner1,
.inner {
  width: 200px;
  height: 200px;
  background-color: rgba(255,255,255,0.2);
}

.inner1 {
  background-color: #555;
}