.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.outter {
  margin: 40px;
  flex: 1;
  border: 1px solid #f79024;
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding: 40px;

  .btns {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    gap: 40px;
    button {
      width: 100px;
      height: 40px;
      font-size: 18px;
    }
  }

  .realtimeData {
    display: flex;
    justify-content: space-between;
  }

  .waveContainer {
    width: 100%;
    height: 100px;
    background-color: #555;
    display: flex;
    align-items: center;

    .countdown {
      font-size: 16px;
      width: 100px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .wave {
      border: 1px solid red;
      flex: 1;
      height: 100%;
      padding: 0 20px;

      svg {
        background-color: #fff;
      }
      .rect {
        transition:
          height 0.2s ease-in-out,
          y 0.2s ease-in-out; /* 添加平滑变化效果 */
      }
    }
  }
}
