.a {
    width: 200px;
    height: 200px;
    // border: 1px solid #56f;

    & > div {
        border: 1px solid red;
        border-radius: 28px;
        padding-left: 8px;
        height: 34px;
        display: flex;
        align-items: center;

        svg {
            width: 16px;
            height: 16px;
        }
    }


}