.container {
  width: 100%;
  height: 80vh;
  border: 1px solid orangered;
  padding: 0 30px 20px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  flex: 1;
  border: 2px solid aqua;
  overflow-y: auto;
}
