.rtcModal {
  :global {
    .ant-modal-content {
      border-radius: 8px;
      background: #2b2b2e;
      color: #fff;
      padding: 28px 24px 24px 24px;

      .ant-modal-close {
        width: 28px;
        height: 28px;
        top: 0;
        inset-inline-end: 0;
        right: -36px;

        .ant-modal-close-x {
          svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}

.btnsWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    cursor: pointer;
    user-select: none;
    width: 120px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: 'PingFang SC';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  &.twoBtns {
    justify-content: space-between;
  }

  .cancelBtn {
    height: 34px;
    border: 1px solid #fff;
    opacity: 0.5;
  }

  .okBtn {
    background: linear-gradient(309deg, #2e6ee7 10.66%, #8c8ef7 128.68%);
  }
}
.notShowAgain {
    margin-top: 16px;
    display: flex;
    justify-content: center;

  .checkbox {
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 400;
    user-select: none;

    :global {
      .ant-checkbox {
        .ant-checkbox-inner,
        .ant-checkbox-input {
          border-radius: 2px;
          background-color: transparent;
          border: 1px solid #a0a0a0;
        }
      }

      .ant-checkbox-checked {
        .ant-checkbox-inner,
        .ant-checkbox-input {
          border-radius: 2px;
          background-color: #1677ff;
          border: 1px solid #1677ff;
        }
      }
    }
  }
}