.container {
  width: 90vw;
  height: 90vh;
  overflow: hidden;
  border: 1px solid #1cc;
  h2 {
    margin: 0;
  }
  .content {
    height: 100%;
    display: flex;
    .slider {
      height: 100%;
      width: 200px;
      background-color: aquamarine;
      & > div {
        color: #222;
        border: #222 solid 1px;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
    .main {
      flex: 1;
      border: #1cc 1px solid;
      border-right: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > div {
        flex: 1;
        border: #e46a32 2px solid;
      }
    }
  }
}
