.outter {
    width: 200px;
    min-height: 40px;
    display: flex;
    .container {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        filter: drop-shadow(0px 16px 20px rgba(174, 167, 223, 0.06));
    }
    .soundContainer {
        height: 40px;
        display: flex;
        cursor: pointer;
        user-select: none;

        .icon {
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 10px;
            margin-right: 8px;
            svg {
                width: 18px;
                height: 18px;
                flex-shrink: 0;
            }
        }

        .duration {
            height: 100%;
            display: flex;
            align-items: center;
            color: #05073b;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
    }

    .textContainer {
        max-width: 100%;
        padding: 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #05073B;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        cursor: pointer;
        user-select: none;

        .content {
            width: 100%;
            padding-top: 10px;
            border-top: 1px solid rgba(207, 204, 223, 0.30);
        }
    }

    .sound2Txt {
        opacity: 0;
        transition: opacity 0.3s ease;
        visibility: hidden;
        margin-left: 6px;
        width: 68px;
        height: 26px;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 16px 20px 0px rgba(174, 167, 223, 0.06);
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #575874;
        user-select: none;

        svg {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            margin-left: 6px;
            margin-right: 4px;
        }

        .title {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }

        &:hover {
            color: #4955F5;
        }
    }

    &:hover {
        .sound2Txt {
            opacity: 1;
            visibility: visible;
        }
    }
}
