.container {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.qrContainer {
  width: 200px;
  height: 200px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}