.container {
  width: 800px;
  height: 500px;
  overflow: hidden;
  position: relative;
  border: 1px solid red;

  .inner {
    overflow-y: scroll;
    min-height: 200px;
    max-height: 200px;
  }

  .btns {
    position: absolute;
    bottom: 0;
  }
}
