.rtcCountdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .flipped {
    transform: scaleX(-1);
    margin-bottom: 20px;
  }

  .seconds {
    position: absolute;
    top: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}