.container {
  width: 830px;

  :global {
    .ant-tabs {
      .ant-tabs-nav {
        border-radius: 0 0 8px 0;
        margin: 0;
        &::before {
          // border-bottom: 1px solid #E5E5E5;
          border-bottom: 1px solid red;
        }
      }
    }
    .ant-tabs-nav-list > .ant-tabs-tab {
      width: 140px;
      height: 50px;
      background: linear-gradient(180deg, #ffffff 0%, #fbfbfb 100%);
      // border: 1px solid #E5E5E5;
      border: 1px solid red;
    }

    .ant-tabs-tab-active {
      border-bottom-color: #fbfbfb !important;
    }
  }
}
